/* line 1, /Users/patrickwhardy/Turing/3module/projects/CragView/app/assets/stylesheets/custom.scss */
#map {
  width: 100%;
  height: 320px;
  text-align: center;
}

/* line 7, /Users/patrickwhardy/Turing/3module/projects/CragView/app/assets/stylesheets/custom.scss */
#panorama {
  img-align: middle;
}

/* line 11, /Users/patrickwhardy/Turing/3module/projects/CragView/app/assets/stylesheets/custom.scss */
#profile {
  max-width: 100px;
  border-radius: 50%;
}

/* line 16, /Users/patrickwhardy/Turing/3module/projects/CragView/app/assets/stylesheets/custom.scss */
.home {
  text-align: center;
  padding-top: 200px;
}

/* line 21, /Users/patrickwhardy/Turing/3module/projects/CragView/app/assets/stylesheets/custom.scss */
.landing {
  background-image: url("https://s31.postimg.org/hjnsqahd7/P1020842.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/* line 27, /Users/patrickwhardy/Turing/3module/projects/CragView/app/assets/stylesheets/custom.scss */
.map-form {
  padding-top: 20px;
}

/* line 31, /Users/patrickwhardy/Turing/3module/projects/CragView/app/assets/stylesheets/custom.scss */
textarea {
  width: 28%;
  height: 150px;
}

/* line 36, /Users/patrickwhardy/Turing/3module/projects/CragView/app/assets/stylesheets/custom.scss */
.search {
  width: 200px;
}

/* line 40, /Users/patrickwhardy/Turing/3module/projects/CragView/app/assets/stylesheets/custom.scss */
.dashboard-panel {
  text-align: center;
}

/* line 44, /Users/patrickwhardy/Turing/3module/projects/CragView/app/assets/stylesheets/custom.scss */
.view-container {
  text-align: center;
}

/* line 48, /Users/patrickwhardy/Turing/3module/projects/CragView/app/assets/stylesheets/custom.scss */
.new-crag-form {
  text-align: center;
}

/* line 52, /Users/patrickwhardy/Turing/3module/projects/CragView/app/assets/stylesheets/custom.scss */
.crag-info {
  text-align: center;
}

/* line 56, /Users/patrickwhardy/Turing/3module/projects/CragView/app/assets/stylesheets/custom.scss */
.crag-table {
  overflow-x: auto;
}

/* line 60, /Users/patrickwhardy/Turing/3module/projects/CragView/app/assets/stylesheets/custom.scss */
.panorama-thumbnail {
  text-align: center;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

