<div class="home text-center" style="padding-top: 150px;">
  <div class="container">
    <a class="btn btn-primary" href="#" role="button">View All Crag Views</a>
  </div><br>
  <div class="container">
    <a class="btn btn-primary" href="#" role="button">Sign in To Add Your Views</a>
  </div>
</div>
