<body class="landing">
  <div class="home text-center" style="padding-top: 200px;">
    <div class="container">
      <a class="btn btn-primary" href="/crags" role="button">View All Crag Views</a>
    </div><br>
    <div class="container">
      <a class="btn btn-primary" href="/auth/google_oauth2" role="button">Sign In To Add Your Views</a>
    </div>
  </div>
</body>
