<div class="container well">
  <p>Drag and drop the "Pegman" to any location that you would like to create a new crag.
    Once you find a view to your liking, fill out the fields beneath to tell our users a bit about this area.
    Once you click "Create Crag" your listing go be live on the CragView database!</p>
</div>

<%= render partial: "layouts/js_map" %>

<div class="container">
  <div class="container map-form">
    <%= text_area_tag "Name", "Name"  %>
    <%= text_area_tag "Description", "Description"  %>
    <%= text_area_tag "Directions", "Directions"  %>
    <button id="create-crag" name="create-crag" class="btn btn-default pull-right">Create Crag</button>
  </div>
</div>
