#map {
  width: 100%;
  height: 400px;
  text-align: center;
}

// body {
//   background-image: asset-url("hero.jpg");
//   background-size: cover;
//   background-repeat: no-repeat;
// }

#panorama {
  img-align: middle;
}

#profile {
  max-width: 100px;
  border-radius: 50%;
}

#home {
  text-align: center;
}
