<div class="crag-table">
  <% if @crags %>
      <table class="table table-bordered" id="crag-table">
        <thead>
          <tr>
            <th>Crag Name</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <% cache("crags list") do %>
            <% @crags.each do |crag| %>
            <tr>
              <td> <%= link_to crag.name, crag_path(crag) %> </td>
              <td> <%= crag.description %> </td>
            </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
  <% end %>
</div>
