<%= javascript_tag do %>
  function initMap() {
    var mapDiv = document.getElementById('map');
    var map = new google.maps.Map(mapDiv, {
      center: {lat: 39.682808, lng: -105.982996},
      zoom: 8
    });

    var thePanorama = map.getStreetView();

    streetviewChangeListener = google.maps.event.addListener(thePanorama, 'visible_changed', function() {
                view_location = thePanorama.getPosition();
                console.log('streetview panorama position: ' + view_location);
      });
  }
<% end %>

<div id="map">
   <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS'] %>&callback=initMap"
       async defer></script>
</div>
